<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666959863491-jujvrjdpkjml7m4ih6tkbevt18hrhb8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666959863491-jujvrjdpkjml7m4ih6tkbevt18hrhb8j</string>
	<key>API_KEY</key>
	<string>AIzaSyBHDdHmK1XublLjfYm5bgf3Fdk6lKTnjOk</string>
	<key>GCM_SENDER_ID</key>
	<string>666959863491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projeto.chat</string>
	<key>PROJECT_ID</key>
	<string>projeto-chat-virtual</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-chat-virtual.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666959863491:ios:6fd46784459d31b5fd0c76</string>
</dict>
</plist>